---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "Home",
	description: "Biblical",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Home</h1>
		<p>These are notes compiled about various Bible related things.</p>
	</div>
</PageLayout>
