---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "Home",
	description: "Biblical",
};
---

<PageLayout meta={meta}>
	<section>
		<h1 class="title mb-6">Home</h1>
		<p>
			These are notes compiled about various Bible related things, primarily as a quick reference
			for myself.
		</p>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Resources</h2>
		<ul class="space-y-4 sm:space-y-2">
			<li>
				<a
					href="https://worldenglish.bible/"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
				>
					World English Bible
				</a>:
				<p class="inline-block sm:mt-2">
					a translation of the Bible in the public domain (with no copyright).
				</p>
			</li>
		</ul>
	</section>
</PageLayout>
